body {
  background-color: var(--bg);
  color: var(--text-main);
}

.container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 var(--size-3);
}

header {
  background: white;
  border-bottom: 1px solid var(--border);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-3);
    max-width: 800px;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: var(--brand);
      }
    }

    .nav-links {
      display: flex;
      gap: var(--size-3);
      align-items: center;
    }
  }
}