body {
  background-color: var(--bg);
  color: var(--text-main);
}

.container {
  max-width: 400px;
  margin: 4rem auto;
}

header nav {
  padding: var(--size-3);
  background: var(--white);
  border-bottom: 1px solid var(--border);
}
