name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.5'
        cache: true

    - name: Install dependencies
      run: |
        go install github.com/a-h/templ/cmd/templ@latest
        go install github.com/sqlc-dev/sqlc/cmd/sqlc@latest
        go install github.com/pressly/goose/v3/cmd/goose@latest

    - name: Generate
      run: |
        templ generate
        sqlc generate

    - name: Run Tests
      run: go test -v ./...

    - name: Build
      run: go build -o shareword cmd/server/main.go
